/*Комментарии пишуться в таком стиле обрамленный слешем и между звездочек*/
/*Это мой первый CSS файл где я подбираю размер, цвет, и стиль шрифта.*/
@import url("color.css");
h1 {
	font-size: 200%;
	font-family: sans-serif, Arial, Verdana, Times New Roman;
}
p {
	font-size: 200%;
	font-family: Arial, Verdana, Times New Roman;
} 